        {% macro youtube(id) -%}
  <iframe width="450" height="350" margin-left:"auto" margin-right:"auto" src="//www.youtube.com/embed/{{id}}" frameborder="0" allowfullscreen>
  </iframe>
        {%- endmacro %}