        {% macro peace-growba(id) -%}
  <iframe width="1100" height="600" align="center" src="//https://peace-growba.co.jp/embed/{{id}}" frameborder="5" allowfullscreen>
  </iframe>
        {%- endmacro %}